<div class="site-wide">
    <div class="grid-container grid-container--half">
        <div class="grid-column">
            <div class="spacer">
                grid-container--half
            </div>
        </div>
        <div class="grid-column">
            <div class="spacer">
                grid-container--half
            </div>
        </div>
    </div>

    <div class="grid-container grid-container--third">
        <div class="grid-column">
            <div class="spacer">
                grid-container--third
            </div>
        </div>
        <div class="grid-column">
            <div class="spacer">
                grid-container--third
            </div>
        </div>
        <div class="grid-column">
            <div class="spacer">
                grid-container--third
            </div>
        </div>
    </div>

    <div class="grid-container grid-container--quarter">
        <div class="grid-column">
            <div class="spacer">
                grid-container--quarter
            </div>
        </div>
        <div class="grid-column">
            <div class="spacer">
                grid-container--quarter
            </div>
        </div>
        <div class="grid-column">
            <div class="spacer">
                grid-container--quarter
            </div>
        </div>
        <div class="grid-column">
            <div class="spacer">
                grid-container--quarter
            </div>
        </div>
    </div>
</div>