/**
 * Add brand variables in this file.
 */

$brand-black:       #000000;
$brand-white:       #ffffff;

$brand-primary:     #521B65;
$brand-secondary:   #E6007D;

$brand-grey:		#ebebeb;
$brand-light-grey:	#BFC2C1;
$brand-medium:		#86878C;
$brand-dark-grey:	#313B3D;

$brand-text:		$brand-dark-grey;

$brand-orange: 		#EB5D13;
$brand-yellow: 		#F9B000;
$brand-turquoise:	#009B97;
$brand-blue:		#009FE3;
