/**
 * Add grid variables in this file.
 */

$settings : (
    context : 12,
    gutter-width : 40px,
    direction : ltr,
    name-multiplicator : 1
);

$grid-gutters-list: (
    25px,
    35px,
    45px,
    55px,
    65px
);

@include gridle_setup($settings);
@include gridle_register_default_mobile_first_states();
@include gridle_generate_classes ();

// Register breakpoints
@include gridle_register_state ( mobile , (
    max-width : $mobile
) );
@include gridle_register_state ( tablet , (
    min-width : $tablet-min,
    max-width : $tablet-max
) ) ;
@include gridle_register_state ( desktop , (
    min-width : $desktop
) ) ;
@include gridle_register_state ( small-tablet , (
    min-width : $small-tablet
) ) ;
@include gridle_register_state ( mobile-to-small-tablet , (
    min-width : $mobile,
    max-width : $small-tablet,
) ) ;

@include gridle_init();

$site-wide-padding: 30px;
$site-width: $desktop + $site-wide-padding * 2;

$rem-baseline: 16px;

html {
	@include rem-baseline; // Default zoom to 100%
}

.site-wide {
	@include rem(max-width, $site-width);
	margin: 0 auto;
	padding-left: $site-wide-padding;
	padding-right: $site-wide-padding;
	overflow: visible;
}

.grid-container {
	@include gridle(row);
}

.grid-container--bottom {
    @include gridle(row);
     @include gridle_row_align ( bottom );
}

.grid-container--no-gutter {
	margin-left: 0;
	margin-right: 0;
}

.grid-container--one-third {
	> .grid-column {
		@include gridle_grid ( 12 );
		margin-left: 0;
		margin-right: 0;

		@include gridle_state ( tablet desktop ) {
			@include gridle_grid ( 4 );
		}
	}
}

.grid-container--two-third-left {
	> .grid-column {
		@include gridle_grid ( 12 );
		margin-left: 0;
		margin-right: 0;

		@include gridle_state ( tablet desktop ) {
			@include gridle_grid ( 4 );
		}

		&:first-child {
			@include gridle_state ( tablet desktop ) {
				@include gridle_grid ( 8 );
			}
		}
	}
}

// // Add support for gutter
// @mixin grid-gutters($gutter-spacing) {
// 	//.grid--gutter-#{strip-unit($gutter-spacing)} {
// 		// Apply this to row
// 		@include rem('margin-left', -$gutter-spacing);
//
// 		.grid-item {
// 			@include rem('padding-left', $gutter-spacing);
// 		}
// 	//}
// }
//
// @each $gutter in $grid-gutters-list {
// 	@include grid-gutters($gutter);
// }
