/**
 * Add brand variables in this file.
 */

$brand-black:       #000000;
$brand-white:       #ffffff;

$brand-primary:     #521B65;
$brand-secondary:   #E6007D;

$brand-grey:		#ebebeb;
$brand-light-grey:	#BFC2C1;
$brand-medium-grey:	#86878C;
$brand-dark-grey:	#313B3D;

$brand-text:		$brand-dark-grey;
