/**
 * Add typography variables in this file.
 */

$brand-font: 'Arial'; // 'Sassy Molassy' 
$base-font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$base-font-size: 16px !default;
$base-line-height: 24px !default;
