<div class="form">
<label for="field-1">Password <span class="asterix">*</span></label>
<div class="field-container">
	<input type="text" id="field-1" placeholder="Password">
</div>

<label for="field-2">Dropdown label <span class="asterix">*</span></label>
<div class="field-container">
	<select name="select" title="-- Choose One --" id="field-2" id="">
		<option value="1" title="option 1">option 1</option>
		<option value="2" title="option 2">option 2</option>
		<option value="3" title="option 3">option 3</option>
	</select>
</div>

<label for="field-3">Email address</label>
<div class="field-container">
	<input type="email" id="field-3" placeholder="Enter email...">
</div>

<label for="field-4">Textfield label</label>
<div class="field-container">
	<textarea id="field-4" id="" cols="30" rows="10" placeholder="Enter message..."></textarea>
</div>

<label for="field-5">Upload file</label>
<div class="field-container">
	<input id="field-5" type="file">
</div>

<label for="field-6">Choose date</label>
<div class="field-container field-container--has-date-button">
    <button class="btn js-date-trigger" type="button"><i aria-hidden="true"></i></button>
    <input class="js-calendar" id="field-6" type="date" placeholder="dd/mm/yyyy">
</div>

<div class="fake-label">Checkbox Label <span class="asterix">*</span></div>
<div class="field-container field-container--has-group">
    <div class="field-container__group">
	  <input id="field-7" type="checkbox">
	  <label for="field-7">Check me out</label>
    </div>
    <div class="field-container__group">
	  <input id="field-8" type="checkbox">
	  <label for="field-8">Check me out</label>
    </div>
</div>

<div class="fake-label">Radio Label <span class="asterix">*</span></div>
<div class="field-container field-container--has-group">
    <div class="field-container__group">
	  <input id="field-9" type="radio">
	  <label for="field-9">Check me out</label>
    </div>
    <div class="field-container__group">
	  <input id="field-10" type="radio">
	  <label for="field-10">Check me out</label>
    </div>
</div>
 </div>


<div class="form">
<label for="field-1">Password <span class="asterix">*</span></label>
<div class="field-container is-not-valid">
	  <input type="text" id="field-1" placeholder="Password">
</div>

<label for="field-2">Dropdown label <span class="asterix">*</span></label>
<div class="field-container is-not-valid">
	<select id="field-2" id="">
		<option value="1">option 1</option>
		<option value="2">option 2</option>
		<option value="3">option 3</option>
	</select>
</div>

<label for="field-3">Email address</label>
<div class="field-container is-not-valid">
	<input type="email" id="field-3" placeholder="Enter email...">
</div>

<label for="field-4">Textfield label</label>
<div class="field-container is-not-valid">
	<textarea id="field-4" id="" cols="30" rows="10" placeholder="Enter message..."></textarea>
</div>

<label for="field-5">Upload file</label>
<div class="field-container is-not-valid">
	<input id="field-5" type="file">
</div>

<label for="field-6">Choose date</label>
<div class="field-container is-not-valid">
	<input id="field-6" type="date" placeholder="dd/mm/yyyy">
</div>

<div class="fake-label">Checkbox Label <span class="asterix">*</span></div>
<div class="field-container field-container--has-group is-not-valid">
    <div class="field-container__group">
	  <input id="field-7" type="checkbox">
	  <label for="field-7">Check me out</label>
    </div>
    <div class="field-container__group">
	  <input id="field-8" type="checkbox">
	  <label for="field-8">Check me out</label>
    </div>
</div>

<div class="fake-label">Radio Label <span class="asterix">*</span></div>
<div class="field-container field-container--has-group is-not-valid">
    <div class="field-container__group">
	  <input id="field-9" type="radio">
	  <label for="field-9">Check me out</label>
    </div>
    <div class="field-container__group">
	  <input id="field-10" type="radio">
	  <label for="field-10">Check me out</label>
    </div>
</div>
 </div>

<div class="form">
 <label for="field-1">Password <span class="asterix">*</span></label>
 <div class="field-container is-valid">
 	<input type="text" id="field-1" placeholder="Password">
 </div>

 <label for="field-2">Dropdown label <span class="asterix">*</span></label>
 <div class="field-container is-valid">
 	<select id="field-2" id="">
 		<option value="1">option 1</option>
 		<option value="2">option 2</option>
 		<option value="3">option 3</option>
 	</select>
 </div>

 <label for="field-3">Email address</label>
 <div class="field-container is-valid">
 	<input type="email" id="field-3" placeholder="Enter email...">
 </div>

 <label for="field-4">Textfield label</label>
 <div class="field-container is-valid">
 	<textarea id="field-4" id="" cols="30" rows="10" placeholder="Enter message..."></textarea>
 </div>

 <label for="field-5">Upload file</label>
 <div class="field-container is-valid">
 	<input id="field-5" type="file">
 </div>

 <label for="field-6">Choose date</label>
 <div class="field-container is-valid">
 	<input id="field-6" type="date" placeholder="dd/mm/yyyy">
 </div>

 <div class="fake-label">Checkbox Label <span class="asterix">*</span></div>
 <div class="field-container field-container--has-group is-valid">
     <div class="field-container__group">
 	  <input id="field-7" type="checkbox">
 	  <label for="field-7">Check me out</label>
     </div>
     <div class="field-container__group">
 	  <input id="field-8" type="checkbox">
 	  <label for="field-8">Check me out</label>
     </div>
 </div>

 <div class="fake-label">Radio Label <span class="asterix">*</span></div>
 <div class="field-container field-container--has-group is-valid">
     <div class="field-container__group">
 	  <input id="field-9" type="radio">
 	  <label for="field-9">Check me out</label>
     </div>
     <div class="field-container__group">
 	  <input id="field-10" type="radio">
 	  <label for="field-10">Check me out</label>
     </div>
 </div>
  </div>

<div class="form">
<label for="field-focus-1">Password <span class="asterix">*</span></label>
<div class="field-container is-not-valid">
    <div class="field-wrapper">
        <input class="js-tooltip" data-tooltip="Lorem ipsum dolor." type="text" id="field-focus-1" placeholder="Password">
  </div>
</div>

<label for="field-focus-2">Dropdown label <span class="asterix">*</span></label>
<div class="field-container is-not-valid is-focus">
	<select id="field-focus-2" class="js-tooltip" data-tooltip="Lorem ipsum dolor." data-tooltip-position="right middle" >
		<option value="1">option 1</option>
		<option value="2">option 2</option>
		<option value="3">option 3</option>
	</select>
</div>

<label for="field-3">Email address</label>
<div class="field-container is-not-valid is-focus">
	<input type="email" id="field-3" placeholder="Enter email...">
</div>

<label for="field-4">Textfield label</label>
<div class="field-container is-not-valid is-focus">
	<textarea id="field-4" id="" cols="30" rows="10" placeholder="Enter message..."></textarea>
</div>

<label for="field-5">Upload file</label>
<div class="field-container is-not-valid">
	<input id="field-5" type="file">
</div>

<label for="field-6">Choose date</label>
<div class="field-container is-not-valid">
	<input id="field-6" type="date" placeholder="dd/mm/yyyy">
</div>

<div class="fake-label">Checkbox Label <span class="asterix">*</span></div>
<div class="field-container field-container--has-group is-not-valid">
    <div class="field-container__group">
	  <input id="field-7" type="checkbox">
	  <label for="field-7">Check me out</label>
    </div>
    <div class="field-container__group">
	  <input id="field-8" type="checkbox">
	  <label for="field-8">Check me out</label>
    </div>
</div>

<div class="fake-label">Radio Label <span class="asterix">*</span></div>
<div class="field-container field-container--has-group is-not-valid">
    <div class="field-container__group">
	  <input id="field-9" type="radio">
	  <label for="field-9">Check me out</label>
    </div>
    <div class="field-container__group">
	  <input id="field-10" type="radio">
	  <label for="field-10">Check me out</label>
    </div>
</div>
</div>
