<button class="btn btn--small btn--primary" type="button">Btn small</button><br>
<button class="btn btn--small btn--secondary" type="button">Btn small</button><br>
<button class="btn btn--small btn--cta" type="button">Btn small</button><br>
<button class="btn btn--small btn--disabled" type="button">Btn small</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--medium btn--primary" type="button">Btn medium</button><br>
<button class="btn btn--medium btn--secondary" type="button">Btn medium</button><br>
<button class="btn btn--medium btn--cta" type="button">Btn medium</button><br>
<button class="btn btn--medium btn--disabled" type="button">Btn medium</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--large btn--primary" type="button">Btn large</button><br>
<button class="btn btn--large btn--secondary" type="button">Btn large</button><br>
<button class="btn btn--large btn--cta" type="button">Btn large</button><br>
<button class="btn btn--large btn--disabled" type="button">Btn large</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--xlarge btn--primary" type="button">Btn xlarge</button><br>
<button class="btn btn--xlarge btn--secondary" type="button">Btn xlarge</button><br>
<button class="btn btn--xlarge btn--cta" type="button">Btn xlarge</button><br>
<button class="btn btn--xlarge btn--disabled" type="button">Btn xlarge</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--primary btn--small" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--secondary btn--small" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--cta btn--small" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--disabled btn--small" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--primary" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--secondary" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--cta" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--disabled" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--primary btn--large" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--secondary btn--large" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--cta btn--large" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--disabled btn--large" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--primary btn--xlarge" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--secondary btn--xlarge" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--cta btn--xlarge" type="button">Btn full</button><br>
<div class="styleguide-spacer"></div>
<button class="btn btn--full btn--disabled btn--xlarge" type="button">Btn full</button>