<ul class="pagination" role="menubar" aria-label="Pagination">
  <li class="pagination__arrow pagination__arrow--prev pagination__unavailable" aria-disabled="true"><a href=""><i aria-hidden="true"></i> <span class="visuallyhidden">Previous</span></a></li>
  <li class="is-current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="pagination__unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="pagination__arrow pagination__arrow--next"><a href=""><span class="visuallyhidden">Next</span> <i aria-hidden="true"></i></a></li>
</ul>

<ul class="pagination pagination--simple" role="menubar" aria-label="Pagination">
   <li class="pagination__arrow pagination__arrow--prev pagination__unavailable" aria-disabled="true"><a href=""><i aria-hidden="true"></i> <span>Previous</span></a></li>
   <li class="pagination__arrow pagination__arrow--next"><a href=""><span>Next</span> <i aria-hidden="true"></i></a></li>
</ul>