<div class="alert alert--warning">
  <p><strong>Oh snap!</strong> There's a few things wrong. Review what you have enterred and submit again!</p>
</div>

<div class="alert alert--success">
  <p><strong>Boom!</strong> Successfully completed!</p>
</div>

<div class="alert alert--info">
  <p><strong>Hey there!</strong> Look at me!</p>
</div>
