 <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <ul>
    <li role="menuitem"><a href="#">Page 1</a></li>
    <li role="menuitem"><a href="#">Page 2</a></li>
    <li role="menuitem" class="is-current"><a href="#">Page 3</a></li>
    </ul>
 </nav>